=simple_form_for [@topic.cliq, @topic] do |f|
  %div.field
    =f.label :subject
    =f.text_field :subject, class: "form-control"
    %br
    =f.label :body

    =f.text_area :body, :class => 'ckeditor'
  %div.actions.well
    .pull-right
      =f.submit 'Create!',  class: "btn btn-default"