-if @create == true
  -@cliq = Cliq.find(@cliq.parent_id)
-full_ancestry(@cliq).each do |desc|
  -unless desc == @top_cliq
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        =desc.name.capitalize
        %span.caret
      %ul.dropdown-menu{role:'menu'}
        =render "shared/cliq_info", cliq:desc