-@cliq_ancestors.each do |desc|
  -unless desc.name == 'cliq'
    %li
      =link_to cliq_path(desc) do
        %span.cliq-btn
          =desc.name.capitalize
        %i.fa.fa-angle-right
-if @cliq.id.blank?
  %li
    =link_to '#' do
      %span.cliq-btn
        %stong
          =@cliq.name.capitalize