-full_ancestry(@cliq).each do |desc|
  -unless desc.name == 'cliq' || desc.id.blank?
    %li.cliq-info-hover{data:{cliq_id:desc.id}}
      =render "shared/cliq", desc: desc
      =render "shared/cliq_info", cliq:desc
-if @cliq.id.blank?
  %li
    =link_to '#' do
      %span.cliq-btn
        =@cliq.name.capitalize

