-if desc.ancestors.count < 2
  -bgcolor = desc.color
-else
  -bgcolor = desc.ancestors[1].color

=link_to desc.name.capitalize, cliq_path(desc), class: 'btn btn-default cliq-active',
  style: "background-color: ##{bgcolor}"