-cliq ||= false
-if cliq
  %li=link_to 'back', cliq
  %li.divider
  -cliq_latest = Cliq.cliq_latest(cliq)
  -if cliq_latest.count > 0
    -Cliq.cliq_latest(cliq).each do |latest|
      %li
        =link_to latest.name.capitalize, latest
  -else
    %li No cliq info currently