.col-md-12
  .well.col-md-10
    .panel.col-md-12
      =render "featured"
    .panel.col-md-12
      =render "popular_reads"
  .well.col-md-2
    .panel{style:"padding:10px"}
      =render "popular_tags"