%button{type:'button', class:'navbar-toggle',data_toggle:'collapse',data_target:'#navbar-collapse-1'}
  %span.sr-only
    Toggle navigation
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
=link_to 'WriteIt', root_path, class:'navbar-brand'