%button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
  %span.sr-only
    Toggle navigation
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
=link_to 'WriteIt', root_path, class:'navbar-brand'