%nav.navbar.navbar-default.navbar-static-top{role:'navigation'}
  .container-fluid
    .navbar-header
      =render "layouts/application/header/brand"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        =render "layouts/application/header/links"
      %ul.nav.navbar-nav.navbar-right
        =render "layouts/application/header/account"