-#mystories-details (css)
.row
  .col-md-5.cover.col-sm-5.col-xs-5
    -if story.image
      =image_tag attachment_url(story, :image, :fill, 180,200)
    -else
      =image_tag('layout/nocover.png', size: "180,200")
  .col-md-7.details.col-sm-7.col-xs-7
    .row
      .default-title.col-md-12.col-sm-12
        =link_to story.title, mystory_url(story)
      .info.col-md-12.col-sm-12
        .row
          .col-md-6.col-sm-6
            .col-sm-4
              %i.fa.fa-eye
              =story.impressionist_count
            .col-sm-4
              %i.fa.fa-star
              0
            .col-sm-4
              %i.fa.fa-comment
              0
      .published.col-md-12.col-sm-12
        .left="#{get_published(story)} Published Chapters"
        %li.tab.left
        ="#{get_drafts(story)} Drafts"
      .updated_at.col-md-12.col-sm-12
        ="Updated #{time_ago_in_words(story.updated_at)} ago"
      =render "shared/author_image", story:story

