.container.mystories-container
  -if @stories
    .panel
      .mystories-index
        .row
          .col-md-12.col-xs-12
            %span.pull-left
              .default-title Your Stories:
            %span.pull-right
              =link_to new_mystory_path, class: 'btn btn-default' do
                %i.fa.fa-pencil-square-o
                New Story
        .row
          .col-md-12.col-xs-12
            -@stories.each do |story|
              =render 'details', story:story
    .well
      =link_to "Create a New Story", new_mystory_path
  -else
    =render "shared/must_sign_in"

  -#-if story.published
  -#  -@publish = 'unpublish'
  -#-else
  -#  -@publish = 'publish'
  -#=simple_form_for [story], remote:true do |f|
  -#  =f.input :published, as: :hidden, :input_html => { value: !story.published }
  -#  =f.submit @publish,  class: "btn btn-default btn-xs pull-left", id:"story-#{story.id}"
