-if @stories
  .well
    .mystories-padding
      %h3 Your Stories:
      %table.table
        %thead
          %tr.cover
          %tr.info
        %tbody
          -@stories.each do |story|
            %tr
              %td.col-md-1
                -if story.image
                  =image_tag attachment_url(story, :image, :fill, 100,140)
                -else
                  =image_tag('layout/nocover.png', size: "100x140")
              %td=link_to story.title, mystory_url(story)
  .well
    =link_to "Create a New Story", new_mystory_path
-else
  =render "shared/must_sign_in"

-#-if story.published
-#  -@publish = 'unpublish'
-#-else
-#  -@publish = 'publish'
-#=simple_form_for [story], remote:true do |f|
-#  =f.input :published, as: :hidden, :input_html => { value: !story.published }
-#  =f.submit @publish,  class: "btn btn-default btn-xs pull-left", id:"story-#{story.id}"
