=link_to 'back to Stories', mystories_path
%h1=@story.title
%h5=@story.description
.well
  %h5 Chapters
  %ul
    -@chapters.each do |chapter|
      %li=link_to "Chapter #{chapter.number}: #{chapter.title}", mystory_chapter_path(@story, chapter)
  -if user_owned?
    =link_to "+ Add a Chapter", new_mystory_chapter_path(@story)
=render "shared/disqus"