=link_to 'back to Stories', mystories_path
%h1=@story.title
%h5=@story.description
=image_tag attachment_url(@story, :image, :fill, 150,150)
%h5="by: #{@story.user.email}"
.well
  %h5 Chapters
  %ul
    -@chapters.each do |chapter|
      %li=link_to "Chapter #{chapter.number}: #{chapter.title}", mystory_chapter_path(@story, chapter)
  -if user_owned?
    =link_to "+ Add a Chapter", new_mystory_chapter_path(@story)
  %h5 Tags
  %ul
    -@story.tags.each do |tag|
      %li=tag.name.capitalize
=render "shared/disqus"