.mystories-details
  .details-container
    .cover.left
      -if @story.image
        =image_tag attachment_url(@story, :image, :fill, 180,260)
      -else
        =image_tag('layout/nocover.png', size: "180x260")
    .details
.mystories-chapters
  .chapters-container
    .start-reading
      =link_to "Start Reading", mystory_chapter_path(@story, 1), class: 'btn btn-default'
    .chapters-description
      %h5=@story.description
      %ul
        -@story.tags.each do |tag|
          %li=tag.name.capitalize
-#=link_to 'back to Stories', mystories_path
-#.well
-#  %h5 Chapters
-#  %ul
-#    -@chapters.each do |chapter|
-#      %li=link_to "Chapter #{chapter.number}: #{chapter.title}", mystory_chapter_path(@story, chapter)
-#  -if user_owned?
-#    =link_to "+ Add a Chapter", new_mystory_chapter_path(@story)
-#  %h5 Tags

-#=render "shared/disqus"