.create-new-cliq
  = "No Match - Create new Cliq for: "
  %ul.history
    -@cliq.ancestors.each do |desc|
      -if desc.name == 'Cliq'
        %li
          %a.left.brand(href="/")
            Cliq!
            ='<i class="fa fa-angle-right"></i>'.html_safe
      -else
        %li
          =link_to cliq_path(desc) do
            %span.cliq-btn
              =desc.name.capitalize
            %span.carrot
          %i.fa.fa-angle-right
    %li
      =link_to cliq_path(@cliq) do
        %span.cliq-btn
          =@cliq.name.capitalize
        %span.carrot
      %i.fa.fa-angle-right

    %li
      = link_to @search['temp'].name, new_cliq_path( cliq_id: @cliq.id, new:@search['temp'].name )
