.similar_searches
  Similar searches:
  .div
    %ul
      -if @search['results'].empty?
        Nada, sorry! (but hey .. you can create one!)
      -else
        -@search['results'].each do |cliq|
          %li
            =link_to cliq.name, cliq_path(cliq)