=@search if @search

%ul.topics
  -@topics.each do |t|
    %li
      =t.subject
      =" - "
      -ancestors = t.cliq.ancestors
      -ancestors << t.cliq
      -ancestors.each do |desc|
        =desc.name
