.search
  -if @search['temp']
    =render 'create_new_cliq'
  -if @search['results']
    =render 'similar_searches'

%ul
  -@topics.each do |t|
    %li
      =t.subject
      =" ----- "
      -t.cliq.ancestors.each do |desc|
        =desc.name