%p=@cliq.name
%ul
  -topics = Array.new
  -@descendants.each do |d|
    -d.topic.each do |t|
      -topics << t
  -topics.each do |t|
    %li=t.subject
    (#{t.cliq.name})
-#
-#%ul
-#  -@topics.each do |topic|
-#    %li=topic.subject
-#    (#{topic.cliq.id})
