/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.minicolors
 *= require bootstrap-tokenfield
 *= require jquery-ui/autocomplete
 *= require mystories-show.scss
 *= require chapter.scss
 *= require_self
 *= require_tree .
*/

html {
    background-color: #f5f5f5!important;
}

body {
    background-color: transparent!important;
}

.container {
    margin-top: -25px;
    padding: 0px 50px 50px 50px;
}

.top48 {
    margin-top: 48px;
}
.left {
    float: left !important;
}

#page-top-margin {
    margin-top: 30px;
}

ul {
    list-style-type: none;
}
.create-new-cliq li {
    display: inline;
}
.create-new-cliq .carrot {
    padding-right: 10px;
}
.carrot-box {
    padding: 5px;
    width: 15vw;
    height: 15vw;
    border: 1px solid gray;
}
.similar_searches ul li {
    float: left;
}
.cliq-info {
    width: 300px;
    border: solid 1px lightgrey;
    background-color: #e7e7e7;
    z-index: 1000;
    display: none;
    top: 0;
    margin-top: 50px;
    height: auto;
    position: absolute;
}

.label-custom1{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.category-list {
    float:left;
    padding-left: 10px!important;
    padding-bottom: 10px;
}

.top-padding-submit {
    padding-right: 15px;
    padding-top: 10px;
}

.mystories-padding {
    padding: 10px 75px ;
}

.tab {
    padding-left: 10px;
}

.circleBase {
    overflow: hidden;
    border-radius: 50%;
}

.facebook-image-circle {
    width: 50px;
    height: 50px;
}

.clear {
    clear: both;
}

.featured-story {
    font-size: 12px;
    color: #777;
    font-weight: bold;
    height: 200px;
    padding: 10px;
    width: 175px;
}

.table-nonfluid {
    width: auto !important;
}
