/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.top48 { margin-top: 48px; }

.left {float: left}

ul {
  list-style-type: none;
}

.top-header {
  margin-bottom: -1px!important;
  .categories {
    ul {
      li {
        padding-left: 10px;
        float: left;
      }
    }
  }
  .account {
      float: right!important;
  }
}

.cliq-bar {
  .cliq-history{
    padding: 15px;
    form {
      height: 0px;
      input {
        margin-top: 5px!important;
      }
      .btn {
        border-bottom-left-radius: 0px!important;
        border-top-left-radius: 0px!important;
        margin-left: -10px!important;
        margin-top: -5px!important;
      }
    }

    ul {
      li {
        float:left;
        a {
        }
      }
    }
  }
}

.fa-angle-right {
  padding-left: 16px!important;
}

.cliq-btn {
  float:left;
//  margin-top: -3px!important;
//  border-radius: 5px;
//  border: 1px solid grey;
//  padding: 2px 5px 2px 5px;
//  background-color: palegreen;
}